.flex{
    display: flex;

}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
} 

.btn{
    padding: .8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    border-radius: .2rem;
    transition: all .3s ease;
    text-transform: uppercase;

}
.primary-btn{
    background: var(--primary);
    color: var(--dark);
}

.primary-btn:hover{
background: transparent;
border-color: var(--primary);
color: var(--primary);

}
.secondary-btn{
    background: transparent;
border-color: var(--primary);
color: var(--primary);


}
.secondary-btn:hover{
    background: var(--primary);
    color: var(--dark);
    border: transparent;
}

.flex-1{
    flex: 1;
}
.justify-center{
    justify-content: center;
}